{% extends 'Afaan-Oromoo/fayyaa/hundee.html'%}
{% load static %}

{% block content %}


          <div id="content"> <!-- Content -->
              <div class="page-title">
                  <div class="container">
                      <div class="page-title-inner">
                          <h3>ODEEFFANNOO FAYYAA</h3>
                          <div class="breadcumb"> <a href="{% url 'index'%}"> Fayyaan Faaya </a><span> / </span><span>Waa'ee dhukkuba kalee</span></div>
                          <div class="clearfix"></div>
                      </div>
                  </div>
              </div>
              <div class="container">
                  <div class="blog">
                      <div class="row">
                          <div class="col-md-8 blog-content">
                              <div class="row">
                                  <div class="col-md-12 blog-block" style="color: black; font-size: 16px; font-family: 'Times New Roman', Times, serif;">
                                      
                                          <h3 class="blog-post-title">Waa'ee dhukkuba kalee maal beeku barbaada?</h3>
                                          <b><a href="#">Dhukkuba kalee |  </a>       <a href="#">Mallattoowwan Dhukkuba Kalee | </a>      <a href="#">Yaalaa barbaachisoo</a></b><hr/>
                                          <!--
                                          <div class="blog-image">
                                              <a href=""><img src=" {%static 'health/images/disease/cancer.png' %}" alt=""></a>
                                          </div>
                                          -->
                                          
                                          <h3 class="blog-post-title"><a href="">Waa'ee Kalee</a></h3>
                                         
                                          <p>
                                           Kaleen xurii dhiiga keessaa qulqulleesuun, fincaaniin qaama keessaa akka ba’u taasisa.
                                          </p>
                                         
 
                                          <h3 class="blog-post-title"><a href="">Dhukkuba Kalee</a></h3>
                                         
                                            <p>
                                              Dhukkuba kale yoo jennu dhukkuboonni kalee hedduun kan ka’umsaan, mallattoon, yaalaanis wal hin fakkaanne hedduun waan jiraniif altokkotti hunda ibsuun hin danda’amu. 
                                              Kanaaf dabaree dabareedhaan akkan isin biraan ga’u hin shakku. 
                                              Har’aaf garuu kanan xiyyeeffadhe cirracha kalee (renal stone or renal culcli) kan jedhamu irratti.
                                            </p>   
                                            <p> Dhukkubni kun dhukkuba bal’inaan hawaasa keessatti argamu yoo ta’u 8.8% ummataa keessatti kan argamudha. 
                                               Dhukkubni kun kalee irraa jalaqabee haga afuuffee fincaaniitti qaamota sirna fincaanii jiran (kidney, ureter, bladder) keessaa bakka tokkotti kan uumamudha. 
                                               Dur yeroo ijoollummaa kiyyaa cirrachi xixiqqoon bishaan waliin seentee kan kale keessatti haftu natti fakkaata ture. Cirrachi kalee garuu kaluudhama keessatti walitti qabamuun kan uumamtuudha. 
                                               Cirrachi kale kan uumamu sababaan isaa guutummaa guutuutti beekamuu baatus sababoonni akka ka’umsaatti tarreeffaman: bishaan ga’aa dhabuu, dhukkuba sukkaaraan qabamuu, furdachuu, nyaata prootinaan olka'aa nyaachuu fi kkf. 
                                            </p>
                                            <h3 class="blog-post-title"><a href="">Mallattoowwan dhukkuba Kalee</a></h3>
                                           
                                            <p>
                                               
                                                <ul> 
                                                    <li>Naannoo ijaa fi fuulaa, keessumaa ganama ganama dhiita’uu (hiita’uu)</li><br>
                                                    <li>Miilla lamaan naannoo koomee dhiita’uu (hiita’uu)</li><br>
                                                    <li>Humna dhabuu, fedhii nyaataa dhabuu, maashaan qaamaa nama dadhabuu/caccabuu, yeroo dheeraaf oldeebisuu (balaqqamuu)</li><br>
                                                    <li>Fincaan keessa dhiigni jiraachuu (garmalee diimachuu fincaanii), garmalee koffaa’uu/hoomachaa’uu, hagi fincaanii 
                                                        kan duraanii irra baay’achuu yokaan xiqqaachuu</li><br>
                                                    <li>Hirriba rafuu dadhabuu, googaan ofii yeroo mara gogaa (dry) ta’uu fi hooksisuu</li><br>
                                                </ul>
                                            </p>   
                                            <h3 class="blog-post-title"><a href="">Qoratamuun alatti maal gochuudhaan kalee keenya eeggachuu dandeenyaa?</a></h3>
                                            
                                            <p>
                                                <ul> 
                                                    
                                                    <li>Bishaan ga’aa ta’e (litira 2 guyyaatti dhuguu. Yoo fincaan nama qabu yeroo dheeraaf ittisuu dhiisuu</li><br>
                                                    <li> Qorichoota analgesics baay’isanii fudhachuu irraa of qusachuu</li><br>
                                                    <li> Ashaboo baay’isanii nyaachuu dhiisuu, Nyaata prootina hedduu qabu yeroo mara soorachuu irraa of qusachuu</li><br>
                                                    <li>Alkoolii baay’isanii dhuguu dhiisuu fi tamboo tasuma xuuxuu dhiisuu</li><br>
                                                    <li> Hirriba ga’aa ofiif kennuu danda’uu fi Infekshinoota xixiqqoo osoo hin tuffatiin yaalamuu</li><br>
                                                    
                                                </ul>
                                            </p>   

                                           
                                  </div>
                              </div>
                          </div>

                        <!--
                          <div class="col-md-4 sidebar">
                              <div class="sidebar-inner">
                                  <div class="side-recent">
                                      <h4>Related Topics</h4>
                                      <div class="side-recent-ct">
                                          <div class="row">
                                              <div class="col-md-4">
                                                  <a href=""><img src="{% static 'images/rec-blog-1.jpg' %}" alt=""></a>
                                              </div>
                                              <div class="col-md-8">
                                                  <h5><a href="">Lorem ipsum dolor sit amsdf</a></h5>
                                                  <div class="meta"><a href="">23 Comments</a> April 11, 2014</div>
												  <p>Morbi ultricies porttitor varius. In hac habitasse platea de...</p>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="side-recent-ct">
                                          <div class="row">
                                              <div class="col-md-4">
                                                  <a href=""><img src=" {% static 'images/rec-blog-2.jpg' %}" alt=""></a>
                                              </div>
                                              <div class="col-md-8">
                                                  <h5><a href="">Lorem ipsum dolor sit amsdf</a></h5>
                                                  <div class="meta"><a href="">23 Comments</a> April 11, 2014</div>
												  <p>Morbi ultricies porttitor varius. In hac habitasse platea de...</p>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="side-recent-ct">
                                          <div class="row">
                                              <div class="col-md-4">
                                                  <a href=""><img src="{% static 'images/rec-blog-3.jpg' %}" alt=""></a>
                                              </div>
                                              <div class="col-md-8">
                                                  <h5><a href="">Lorem ipsum dolor sit amsdf</a></h5>
                                                  <div class="meta"><a href="">23 Comments</a> April 11, 2014</div>
												  <p>Morbi ultricies porttitor varius. In hac habitasse platea de...</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  
                              </div>
                          </div>

                          -->
                      </div>
                  </div>
              </div>
          </div> <!-- Content -->
          
{% endblock %}