{% extends 'Afaan-Oromoo/fayyaa/hundee.html'%}
{% load static %}

{% block content %}


          <div id="content"> <!-- Content -->
              <div class="page-title">
                  <div class="container">
                      <div class="page-title-inner">
                          <h3>ODEEFFANNOO FAYYAA</h3>
                          <div class="breadcumb"> <a href="{% url 'index'%}"> Fayyaan Faaya </a><span> / </span><span>Waa'ee dhukkuba Kintaarotii</span></div>
                          <div class="clearfix"></div>
                      </div>
                  </div>
              </div>
              <div class="container">
                  <div class="blog">
                      <div class="row">
                          <div class="col-md-8 blog-content">
                              <div class="row">
                                  <div class="col-md-12 blog-block" style="color: black; font-size: 16px; font-family: 'Times New Roman', Times, serif;">
                                      
                                          <h3 class="blog-post-title">Waa'ee dhukkuba Kintaarotii maal beeku barbaada?</h3>
                                          <b><a href="#">Dhukkuba kalee |  </a>       <a href="#">Mallattoowwan Dhukkuba Kintaarotii | </a>      <a href="#">Yaalaa barbaachisoo</a></b><hr/>
                                          <!--
                                          <div class="blog-image">
                                              <a href=""><img src=" {%static 'health/images/disease/cancer.png' %}" alt=""></a>
                                          </div>
                                          -->
                                          
                                          <h3 class="blog-post-title"><a href="">Waa'ee Dhukkuba Kintaarotii</a></h3>
                                         
                                          <p>
                                         Kintaarootiin iitaa qaama taa'umsaa irratti mul'atu yoo ta'u innis hiddi dhiiga deebistu kan naannoo ta'uumsatti gurmuun argamu yoo iita'u kan dhufu dha.
                                          </p>
                                         
 
                                          <h3 class="blog-post-title"><a href="">Dhukkuba Kintaarotii</a></h3>
                                         
                                            <p>
                                             intaarootiin iitaa qaama taa'umsaa irratti mul'atu yoo ta'u innis hiddi dhiiga deebistu kan naannoo ta'uumsatti gurmuun argamu yoo iita'u kan dhufu dha. 
                                             iitaa kanaaf wontootni hedduun sababa ta'uu malu.
                                            </p>   
   

                                            <h3 class="blog-post-title"><a href="">Sababoota dhukkuba Kintaarotii fidan</a></h3>
                                           
                                            <p>
                                            
                                                <ul> 
                                                    <li>Yeroo bobbaaf taa'an baay'isanii ittanuu</li><br>
                                                    <li>Qufaa yeroo dheeraaf nama irra ture.</li><br>
                                                    <li>Furdinna gar malee guddaa ta'e qabaachuu.</li><br>
                                                    <li>Wol qunnamtii saalaa qaama taa'umsaatiin raawwachuu.</li><br>
                                                    <li>Garaa gogsuu ykn baasaa yeroo dheeraaf nama irra ture</li><br>
                                                    <li>Dhukkubni tiruu ykn dhukkubni biraa kan iitaa garaatiif nama saaxiluu jiraachu</li><br>
                                                    <li>Irra jireessaan ga'eeyyiiwan woggaa 20 ol ta'anifi haadholii ulfaa irratti ni hedduminnaan mul'ata.</li>
                                                    <li>Nyaata akka fuduraaf kuduraa fayyadamuu dhabuun wontoota rakkinna kanaaf nama siixilan keessa isaan ijoo ta'anii dha.</li><br>
                                                </ul>
                                            </p>   
                                            <h3 class="blog-post-title"><a href="">Tooftalee Kintaarootii ittiin of irraa hanga tokko xiqqeessan</a></h3>
                                            
                                            <p>
                                                <ul> 
                                                    
                                                    <li> Bishaan hoo'isanii sooqida moonqaa lama/sadihii itti naqanii daqiiqaa digdamaaf qaama teessumaatiin keessa taa'uu. Bishaan xiqqoma ha hoo'uu barbaadama malee nama gubuu hin qabu. 
                                                         Kana gochuun dhukkuboota nannoo ta'uumsatti mul'atan hedduuf faayidaa guddaa qaba.</li><br>
                                                    <li> Cuunfaa loomii itti dibuu.</li><br>
                                                    <li> Sochii qaamaa ( deemsa ariifanna, daakkaa, daansii, fiigiicha, fi kkf) guyya guyyaan daqiiqaa soddomaafi achi oliif yoo xiqaate torbaanitti guyyoota shaniif hojjachuu.</li><br>
                                                    <li>Cabbii  qabanahaa ta'e iddoo taa'umsaatti qabuun. Guyyatti yeroo hedduu akkas gochuun iitaa san haalaan ni xiqqeessa.</li><br>
                                                    <li> Bobbaa dabarsuu dhabuu. Yeroma inni namatti dhufe/mudde taa'uu, dabarsuu dhabuun faayidaa hedduu qaba.</li><br>
                                                    <li> Akkasumas mana yaalaa deemanii rakkina jiru iftoominnaan erga Doktoratti ykn ogeessa yaalatti himan booda qoricha ykn yaala biraa (Opireeshiniis ta'uu mala) isaan namaaf ajajan haalaan fudhachu/fayyadamuu</li><br>
                                                </ul>
                                            </p>   

                                           
                                  </div>
                              </div>
                          </div>

                        <!--
                          <div class="col-md-4 sidebar">
                              <div class="sidebar-inner">
                                  <div class="side-recent">
                                      <h4>Related Topics</h4>
                                      <div class="side-recent-ct">
                                          <div class="row">
                                              <div class="col-md-4">
                                                  <a href=""><img src="{% static 'images/rec-blog-1.jpg' %}" alt=""></a>
                                              </div>
                                              <div class="col-md-8">
                                                  <h5><a href="">Lorem ipsum dolor sit amsdf</a></h5>
                                                  <div class="meta"><a href="">23 Comments</a> April 11, 2014</div>
												  <p>Morbi ultricies porttitor varius. In hac habitasse platea de...</p>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="side-recent-ct">
                                          <div class="row">
                                              <div class="col-md-4">
                                                  <a href=""><img src=" {% static 'images/rec-blog-2.jpg' %}" alt=""></a>
                                              </div>
                                              <div class="col-md-8">
                                                  <h5><a href="">Lorem ipsum dolor sit amsdf</a></h5>
                                                  <div class="meta"><a href="">23 Comments</a> April 11, 2014</div>
												  <p>Morbi ultricies porttitor varius. In hac habitasse platea de...</p>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="side-recent-ct">
                                          <div class="row">
                                              <div class="col-md-4">
                                                  <a href=""><img src="{% static 'images/rec-blog-3.jpg' %}" alt=""></a>
                                              </div>
                                              <div class="col-md-8">
                                                  <h5><a href="">Lorem ipsum dolor sit amsdf</a></h5>
                                                  <div class="meta"><a href="">23 Comments</a> April 11, 2014</div>
												  <p>Morbi ultricies porttitor varius. In hac habitasse platea de...</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  
                              </div>
                          </div>

                          -->
                      </div>
                  </div>
              </div>
          </div> <!-- Content -->
          
{% endblock %}