
 {% load static %}

  <head>
    <meta charset="utf-8">
    <title>Fayyaan-Faaya</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- fonts -->
    <link href="{% static 'health/font-awesome/css/font-awesome.css' %}" rel='stylesheet' type='text/css'>
      
    <!-- Bootstrap -->
    <link href="{% static 'health/css/bootstrap.min.css' %}" rel="stylesheet">
    
    <!-- main css -->
    <link href="{% static 'health/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'health/css/responsive.css' %}" rel="stylesheet">
    
    <!-- Slider -->
    <link href="{% static 'health/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'health/css/owl.theme.css' %}" rel="stylesheet">
    <link href="{% static 'health/css/owl.transitions.css' %}" rel="stylesheet"> 
      
    <!-- lightbox -->
    <link href="{% static 'health/css/prettyPhoto.css' %}" rel="stylesheet">

  </head>
  <body>

      <div id="wrapper" class="homepage-1"> <!-- wrapper -->
          <div id="header"> <!-- header -->
              <div class="top"> <!-- top -->
                  <div class="container">
                      <ul class="top-support"> 
                          <li><i class="fa fa-phone-square"></i><span>(+251) 966 453 047</span></li>
                          <li><a href=""><i class="fa fa-envelope-square"></i><span>fayyaanfaaya4all.com</span></a></li>
                      </ul>
                      <div class="top-offers">
                          <div class="alert alert-warning alert-dismissible fade in offers" role="alert">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button>
                             Oduu fi Oddeeffannoo haaraya waa'ee <a href=""> COVID 19</a>
                          </div>
                      </div>
                      <div class="top-control">
                          <span></span><a href="{% url 'index'%}">English</a> <span></span><a href="{% url 'wiirtuu'%}">Afaan Oromoo</a>
                      </div>
                      <div class="clearfix"></div>
                      <div class="top-offers show-mobile">
                          <div class="alert alert-warning alert-dismissible fade in offers" role="alert">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button>
                             Oduu fi Oddeeffannoo haaraya waa'ee <a href="">Vaayiraasi koronaa (Kooviid-19)</a>
                          </div>
                      </div>
                  </div>
              </div> <!-- top -->
              
              <div id="believe-nav"> <!-- Nav -->
                  <div class="container">
                      <div class="min-marg">
                          <nav class="navbar navbar-default">
                              <!-- <div class="container-fluid"> -->
                                  <!-- Brand and toggle get grouped for better mobile display -->
                                  <div class="navbar-header">
                                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                          <span class="sr-only">Fayyaan Faaya</span>
                                          <span class="icon-bar"></span>
                                          <span class="icon-bar"></span>
                                          <span class="icon-bar"></span>
                                      </button>
                                      <a class="navbar-brand" href="{% url 'wiirtuu'%}"><img src="{% static 'health/images/logo.png'%}" alt="Fayyaan Faaya"></a>
                                  </div>

                                  <!-- Collect the nav links, forms, and other content for toggling -->
                                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                      <ul class="nav navbar-nav">
                                          <li class="active"><a href="{% url 'wiirtuu'%}">Wiirtuu <span class="sr-only">(current)</span></a></li>
                                          <li><a href="{% url 'waahee' %}">Waa'ee Keenya</a></li>
                                         <!-- <li><a href="blog-detail.html">Blog Post</a></li> -->
                                          <li><a href="{% url 'quunnamti'%}">Nu Quunnamuuf</a></li>
                                          <li><a href="#"></a></li>
                                      </ul>
                                     
                                      <ul class="nav navbar-nav navbar-right">
                                        
                                           

                                           {% if request.user.is_authenticated and request.user.is_patient %} 
                                            <li><a href="{% url 'subscriber'%}"><span>Subscribe</span></a></li>
                                            <li><a href=""><span>Welcome {{ user.username}}</span></a></li>
                                             <li><a href="{% url 'logout' %}"><span><button style="background-color:red;color:white; font-size:18px;">Logout</button></span></a></li>
                                            {% else %}
                                            <li><a href="{% url 'subscriber'%}"><span>Subscribe</span></a></li>
                                            <li><a href="{% url 'login'%}"><span>Login</span></a></li>
                                            {% endif %}
                                         
                                      </ul>
                                     
                                  </div><!-- /.navbar-collapse -->
                              <!--</div> -->
                              
                          </nav>
                      </div>
                  </div>
              </div>
             
              
              <div id="cat-nav">
              <div class="container">
                  <nav class="navbar navbar-default">
                      <!-- <div class="container-fluid"> -->
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cat-nav-mega">
                              <span class="sr-only">Fayyaan Faaya</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                          </button>
                      </div>

                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="cat-nav-mega">
                          <ul class="nav navbar-nav">
                              <li class="dropdown menu-large">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">FAYYAAN HUNDAAF<i class="fa fa-angle-down"></i></a>
                                  <ul class="dropdown-menu megamenu" role="menu">
                                      <li>
                                          <div class="">
                                              <div class="mega-sub">
                                                  <div class="mega-sub-title">Dhibee & Oddeeffannoo</div>
                                                  <ul>
													<li><a href="{% url 'kalee'%}">Dhukkuba Kalee</a></li>
                                                    <li><a href="{% url 'kintaarotii'%}">Dhukkuba Kintaarotii</a></li> 
													<li><a href="#">Dhukkuba Qaama Saalaa </a></li>
													<li><a href="#">Dhukkuba Garaachaa</a></li>
													<li><a href="#">Dhukkuba Dhiiga</a></li>
													<li><a href="#">Kaansarii</a></li>
													<li><a href="#">HIV</a></li>
                                                    <li><a href="#">Dhukkuba Buusa</a></li>
                                                    <li><a href="#">Dhukkuba Onnee</a></li>
                                                    <li><a href="#">A-Ztti Hunda Ilaali</a></li>
													
                                                  </ul>
                                              </div>
                                              <div class="mega-sub">
                                                  <div class="mega-sub-title">Mallattoo Dhukkuboota</div>
                                                  <ul>
                                                    <li><a href="#">Dhagna gubaa</a></li>
                                                    <li><a href="#">Mataa Dhukkubbii</a></li>
                                                    <li><a href="#">Dafqisiisuu</a></li>
													<li><a href="#">Balaqqamsiisuu</a></li>
													<li><a href="#">A-Ztti Hunda Ilaali</a></li>
                                                  </ul>
                                              </div>

                                              <div class="mega-sub">
                                                  <div class="mega-sub-title">Waa'ee Fayyaa</div>
                                                  <ul>
                                                    <li><a href="#">Fayyaa Ilkaani</a></li>
                                                    <li><a href="#">Fayyaa ijaa</a></li>
                                                    <li><a href="#">Fayyaa Sammuu</a></li>
                                                    <li><a href="#">Fayyaa Hirriban wal qabatu</a></li>
                                                    <li><a href="#">Fayyaa Qaama Saalaa</a></li>
                                                    <li><a href="#">Fayyaa Qaama Walhormaata</a></li>
                                                  </ul>
                                              </div>
                                              <div class="mega-sub">
                                                  <div class="mega-sub-title">Gorsa Ogeeyyii Fayyaa</div>
                                                  <ul>
                                                    <li><a href="#">Vaayiraasi Koroonaa</a></li>
                                                  </ul>
                                              </div>
                                               <div class="mega-sub">
                                                <div class="mega-sub-title">Oduu & Odeeffannoo</div>
                                                  <ul>
                                                    <li><a href="#">Oddeeffannoo Fayyaa</a></li>
                                                    <li><a href="#">COVID-19</a></li>
                                                   
                                                  </ul>
                                              </div>
                                              <div class="clearfix"></div>
                                          </div>
                                      </li>
                                  </ul>
                              </li>
                              <li><a href="{% url 'checkdisease'%}">DHIBEE KEE BARI</a></li>

                              {% if request.user.is_authenticated and request.user.is_patient %} 
                              <li><a href="{% url 'consult_option' %}">GORSA ARGACHUUF</a></li>
                           <!--  <li><a href="{% url 'notfound'%}">CONNECT TO CARE </a></li> -->
                              <li><a href="{% url 'news'%}">ODEEFFANNOO FAYYAA</a></li>
                              {% endif %}
                             
                          </ul>
                           
                      </div><!-- /.navbar-collapse -->
                      <!--</div> -->
                  </nav>
              </div>
              </div>     

          </div> <!-- header -->

        {% block content%}


        {% endblock %}

<div id="footer"><!-- Footer -->
              <div class="footer-widget">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-3">
                              <div class="text-widget">
                                  
                                  <img src=" {% static 'health/images/logo.png'%}" alt="ft-logo">
                                  <p>
                                    Kan Fayyaa qabu waan dhabe hin qabu,Fayyaa hin dhabina, qalbiis hin cabina!
                                  </p>
                                  <ul class="ft-soc clearfix">
                                      <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
                                      <li><a href=""><i class="fa fa-google-plus-square"></i></a></li>
                                      <li><a href=""><i class="fa fa-youtube"></i></a></li>
                                  </ul>
                                  <div class="clearfix"></div>
                              </div>
                          </div>
                          <div class="col-md-2">
                              <div class="quick-links">
                                  <div class="wid-title">Cuqaasa Saffisoo</div>
                                  <ul>
                                      <li><a href="{% url 'wiirtuu'%}">Wiirtuu</a></li>
                                      <li><a href="{% url 'waahee'%}">Waa'ee Keenya</a></li>
                                      <li><a href="{% url 'quunnamti'%}">Nu Quunnamuud</a></li>
                                      <li><a href="blog.html">Marsariitii Keenya</a></li>
                                      
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-2">
                              <div class="term">
                                  <div class="wid-title">Waliigala Marsariitii</div>
                                  <p>
                                      <a href="#">Gargarsa</a><br/>
                                      <a href="#">Haala Itti fayyadama</a><br/>
                                      <a href="#">Waan Fedhii keeti</a><br/>
                                      <a href="#">Seerota Keenya</a><br/>
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-2">
                              <div class="quick-links">
                                  <div class="wid-title">Taajajiloota Keenya</div>
                                  
                                  <ul>
                                      <li><a href="#">Odeeffannoo Fayyaa</a></li>
                                      <li><a href="#">Mallattoo Kee Bari</a></li>
                                      <li><a href="#">Gorsa Argadhu</a></li>
                                      <li><a href="#">Fayyaa Walii Gala</a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="subscribe">
                                  <div class="wid-title">Subscribe for OFFERS & UPDATES</div>
                                  <p>
                                      Subscribe! then we'll send you notification.
                                  </p>
                                      <a href="{% url 'subscriber'%}"><button type="submit" class="btn btn-default">Subscribe Now</button></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="footer-text">
                  <div class="container">
                      <p>Copyright 2021. Fayyaan Faaya Medical Consultation and Subscription System. ALL RIGHT RESERVED.</p>
                  </div>
              </div>
          </div><!-- Footer -->
      </div> <!-- wrapper -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'health/js/library.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'health/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'health/js/owl.carousel.js' %}"></script>
    <script src="{% static 'health/js/ui.js' %}"></script>
    <script src="{% static 'health/js/jquery.raty.js' %}"></script>
    <script src="{% static 'health/js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'health/jstatic s/jquery.selectbox-0.2.js' %}"></script>
    <script src="{% static 'health/js/theme-script.js' %}"></script>
  </body>
</html>
