{% extends 'Afaan-Oromoo/fayyaa/hundee.html'%}

{% load static %}

{% block content %}

              <div class="page-title">
                  <div class="container">
                      <div class="page-title-inner">
                          <h3>Waahee Keenya</h3>
                          <div class="breadcumb"> <a href="{% url 'wiirtuu'%}">Wiirtuu</a><span> / </span><span>Waa'ee Keenya</span></div>
                          <div class="clearfix"></div>
                      </div>
                  </div>
              </div>

              <div class="container">
                    <div class="row">
                        <div class="col-md-12 blog-block">
                            <div class="inner">
                                <br/>
                                <h2>You are on journey to health and Wellness. And we are right there with you</h2>
                                <p>
                                How you feel affects every single day of your life, which is why you work so hard to get well and stay well. Don't worry we are here to support, guide and inspire you.
                                </p>
                                <h3>We want to help you own your well-being</h3>
                                <p>
                                    Fayyaan Faaya covers almost all facets of physical and mental health openly and objectively, bacause we are here for community - for life.
                                    In everything from our personal perspectives to our community to our commitment to inclusivity, you will see that we feel with you.
                                </p> 
                                <p> We hope that you tap into all Fayyaan Faaya resources - from our health and wellness information library and subscribe to our webiste.</p>
                                <pre>
                                    Galatooma,
                                    Fayyaan Faaya Team
                               </pre>
                            </div>
                        </div>  
                    </div>
              </div>

{% endblock %}