{% load static %}
  <head>
    <meta charset="utf-8">
    <title>Fayyaan-Faaya For Better Informations</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- fonts -->
    <link href="{% static 'health/font-awesome/css/font-awesome.css' %}" rel='stylesheet' type='text/css'>
      
    <!-- Bootstrap -->
    <link href="{% static 'health/css/bootstrap.min.css' %}" rel="stylesheet">
    
    <!-- main css -->
    <link href="{% static 'health/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'health/css/responsive.css' %}" rel="stylesheet">
    
    <!-- Slider -->
    <link href="{% static 'health/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'health/css/owl.theme.css' %}" rel="stylesheet">
    <link href="{% static 'health/css/owl.transitions.css' %}" rel="stylesheet"> 
      
    <!-- lightbox -->
    <link href="{% static 'health/css/prettyPhoto.css' %}" rel="stylesheet">



   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

   <script id='pixel-script-poptin' src='https://cdn.popt.in/pixel.js?id=3d6a40212042a' async='true'></script> 
  
  {% block head %}

  {% endblock %}

  </head>
  <body>

      <div id="wrapper" class="homepage-1"> <!-- wrapper -->
          <div id="header"> <!-- header -->
              <div class="top"> <!-- top -->
                  <div class="container">
                      <ul class="top-support"> 
                          <li><i class="fa fa-phone-square"></i><span>(+251) 966 453 047</span></li>
                          <li><a href=""><i class="fa fa-envelope-square"></i><span>fayyaanfaaya4all.com</span></a></li>
                      </ul>
                      <div class="top-offers">
                          <div class="alert alert-warning alert-dismissible fade in offers" role="alert">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button>
                             Get news & updates about <a href="https://bing.com/covid" target="_blank" > COVID 19</a>
                          </div>
                      </div>
                      <div class="top-control">
                          <span></span><a href="{% url 'index'%}">English</a> <span></span><a href="{% url 'wiirtuu'%}">Afaan Oromoo</a>
                      </div>
                      <div class="clearfix"></div>
                      <div class="top-offers show-mobile">
                          <div class="alert alert-warning alert-dismissible fade in offers" role="alert">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button>
                              Get news and update <a href="https://bing.com/covid" target="_blank" > of Corona Virus(COVID-19)</a>
                              
                          </div>
                      </div>
                  </div>
              </div> <!-- top -->
              
              <div id="believe-nav"> <!-- Nav -->
                  <div class="container">
                      <div class="min-marg">
                          <nav class="navbar navbar-default">
                              <!-- <div class="container-fluid"> -->
                                  <!-- Brand and toggle get grouped for better mobile display -->
                                  <div class="navbar-header">
                                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                          <span class="sr-only">Fayyaan Faaya</span>
                                          <span class="icon-bar"></span>
                                          <span class="icon-bar"></span>
                                          <span class="icon-bar"></span>
                                      </button>
                                       <a class="navbar-brand" href="{% url 'index'%}"><img src="{% static 'health/images/logo.png'%}" alt="Fayyaan Faaya"></a>
                                      <!--
                                      <a class="navbar-brand" href="{% url 'index'%}"><img src="{% static 'health/images/logo.png'%}" alt="Fayyaan Faaya"></a>
                                     -->
                                  </div>

                                  <!-- Collect the nav links, forms, and other content for toggling -->
                                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                      <ul class="nav navbar-nav">
                                          <li class="active"><a href="{% url 'index'%}">Home <span class="sr-only">(current)</span></a></li>
                                          <li><a href="{% url 'about'%}">About Us</a></li>
                                         <!-- <li><a href="blog-detail.html">Blog Post</a></li> -->
                                          <li><a href="{% url 'contact'%}">Contact Us</a></li>
                                          <li><a href="#"></a></li>
                                      </ul>
                                     
                                      <ul class="nav navbar-nav navbar-right">
                                         <!-- <li class="menu-search-form">
                                              <a href="#" id="open-srch-form"><img src="{% static 'health/images/srch.png' %} " alt="srch"></a>
                                          </li>
                                         -->
                                            {% if request.user.is_authenticated and request.user.is_patient %} 
                                            <li><a href="{% url 'subscriber'%}"><span>Subscribe</span></a></li>
                                            <li><a href=""><span>Welcome {{ user.username}}</span></a></li>
                                            <li><a href="{% url 'logout' %}"><span><button style="background-color:red;color:white; font-size:18px;">Logout</button></span></a></li>
                                            {% else %}
                                             
                                            <li><a href="{% url 'subscriber'%}"><span>Subscribe</span></a></li>
                                            <li><a href="{% url 'login'%}"><span>Login</span></a></li>
                                            {% endif %}
                                         <!--
                                          <li id="open-srch-form-mod">
                                              <div>
                                                  <form class="side-search">
                                                      <div class="input-group">
                                                          <input type="text" class="form-control search-wid" placeholder="Search Here" aria-describedby="basic-addon1">
                                                          <a href="" class="input-group-addon btn-side-serach" id="basic-addon1"><i class="fa fa-search"></i></a>
                                                      </div>
                                                  </form>
                                              </div>
                                          </li>
                                          -->
                                      </ul>
                                     
                                  </div><!-- /.navbar-collapse -->
                              <!--</div> -->
                              
                          </nav>
                      </div>
                      <div class="srch-form">
                          <form class="side-search">
                              <div class="input-group">
                                  <input type="text" class="form-control search-wid" placeholder="Search Here" aria-describedby="basic-addon2">
                                  <a href="" class="input-group-addon btn-side-serach" id="basic-addon2"><i class="fa fa-search"></i></a>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
             
              
              <div id="cat-nav">
              <div class="container">
                  <nav class="navbar navbar-default">
                      <!-- <div class="container-fluid"> -->
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cat-nav-mega">
                              <span class="sr-only">Fayyaan Faaya</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                          </button>
                      </div>

                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="cat-nav-mega">
                          <ul class="nav navbar-nav">
                              
                              <li class="dropdown menu-large">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">HEALTH CENTERS <i class="fa fa-angle-down"></i></a>
                                  <ul class="dropdown-menu megamenu" role="menu">
                                      
                                      
                                      <li>
                                          <div class="">
                                              <div class="mega-sub">
                                                  <div class="mega-sub-title">Diseases & Conditions</div>
                                                  <ul>
													<li><a href="{% url 'cancer'%}">Cancer</a></li>
													<li><a href="#">Cold & Flu </a></li>
													<li><a href="#">COVID-19</a></li>
													<li><a href="#">Diabets</a></li>
													<li><a href="#">Eye Health</a></li>
													<li><a href="#">Heart Disease</a></li> 
													<li><a href="#">HIV</a></li>
                                                    <li><a href="#">Malaria</a></li>
                                                    <li><a href="#">Lung Disease</a></li>
                                                    <li><a href="{% url 'notfound'%}">View All Topics A-Z</a></li>
                                                  </ul>
                                              </div>
                                              <div class="mega-sub">
                                                  <div class="mega-sub-title">AVAILABLE RESOURCE</div>
                                                  <ul>
                                                    <li><a href="{% url 'checkdisease'%}">Symptom Checker</a></li>
                                                    <li><a href="{% url 'notfound'%}">View All Symptoms</a></li>
                                                   {% if request.user.is_authenticated and request.user.is_patient %}
                                                     
                                                     <li><a href="{% url 'chatbot'%}">Fayyaan Faaya Chatbot</a></li>
                                                     <li><a href="{% url 'doctor_profile'%}">Find Doctor</a></li>
													
                                                    {% endif %}
                                                  </ul>
                                              </div>

                                              <div class="mega-sub">
                                                  <div class="mega-sub-title">Wellness Topics</div>
                                                  <ul>
                                                  <li><a href="{% url 'notfound'%}">Aging Well</a></li>
                                                  {% if request.user.is_authenticated and request.user.is_patient %}
                                                    <li><a href="{% url 'notfound'%}">Healthy Teens</a></li>
                                                    <li><a href="{% url 'notfound'%}">Men's Health</a></li>
                                                    <li><a href="{% url 'notfound'%}">Mental Health</a></li>
                                                    <li><a href="{% url 'notfound'%}">Nutrition</a></li>
                                                    <li><a href="{% url 'notfound'%}">Parenthood</a></li>
													<li><a href="{% url 'notfound'%}">Sex & Relationship</a></li>
													<li><a href="{% url 'notfound'%}">Sleep </a></li>
                                                    <li><a href="{% url 'notfound'%}">Women's Health</a></li>
                                                    
                                                    {% endif %}
                                                  </ul>
                                              </div>
                                              
                                              <div class="mega-sub">
                                                  <div class="mega-sub-title">FAQs with Experts</div>
                                                  <ul>
                                                    <li><a href="https://bing.com/covid" target="_blank">COVID-19 Tracker,Vaccines & Chronic Conditions</a></li>
                                                    {% if request.user.is_authenticated and request.user.is_patient %}
                                                    <li><a href="{% url 'notfound'%}">Can Dehydration Affect Your Eyes?</a></li>
                                                    <li><a href="{% url 'notfound'%}">Sex After Menopause</a></li>
                                                    <li><a href="{% url 'notfound'%}">Treating Depression</a></li>
													<li><a href="{% url 'notfound'%}">What Are the Injections for Type 2 Diabets</a></li>
                                                    {% endif %}
                                                  </ul>
                                              </div>
                                               <div class="mega-sub">
                                                <div class="mega-sub-title">News & Events</div>
                                                  <ul>
                                                    <li><a href="{% url 'news'%}">Health News</a></li>
                                                    <li><a href="{% url 'news'%}">COVID-19</a></li>
                                                  </ul>
                                              </div>
                                              <div class="clearfix"></div>
                                          </div>

                                      </li>


                                  </ul>
                              </li>
                              <li><a href="{% url 'checkdisease'%}">CHECK YOUR SYMPTOM </a></li>
                               {% if request.user.is_authenticated and request.user.is_patient %}
                              <li><a href="{% url 'consult_option' %}">GET CONSULTATION </a></li>
                        <!--  <li><a href="{% url 'notfound'%}">CONNECT TO CARE </a></li> -->
                              <li><a href="{% url 'news'%}">HEALTH NEWS</a></li>
                              {% endif %}
                          </ul>
                           
                      </div><!-- /.navbar-collapse -->
                      <!--</div> -->
                  </nav>
              </div>
              </div>     

          </div> <!-- header -->


        {% block body %}


        {% endblock %}

<div id="footer"><!-- Footer -->
              <div class="footer-widget">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-3">
                              <div class="text-widget">
                                  
                                  <img src=" {% static 'health/images/logo.png'%}" alt="ft-logo">
                                  <p>
                                    Having a better health is a key to an individual happiness and a country’s development.
                                  </p>
                                  <ul class="ft-soc clearfix">
                                      <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
                                      <li><a href=""><i class="fa fa-google-plus-square"></i></a></li>
                                      <li><a href=""><i class="fa fa-youtube"></i></a></li>
                                  </ul>
                                  <div class="clearfix"></div>
                              </div>
                          </div>
                          <div class="col-md-2">
                              <div class="quick-links">
                                  <div class="wid-title">Quick Links</div>
                                  <ul>
                                      <li><a href="{% url 'index'%}">Home</a></li>
                                      <li><a href="{% url 'about'%}">About US</a></li>
                                      <li><a href="{% url 'contact'%}">Contact US</a></li>
                                      <li><a href="blog.html">Our blog</a></li>
                                      
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-2">
                              <div class="term">
                                  <div class="wid-title">Common Terms</div>
                                  <p>
                                      <a href="#">Help</a><br/>
                                      <a href="#">Tearms & condition</a><br/>
                                      <a href="#">FAQs</a><br/>
                                      <a href="#">Privacy Policy</a><br/>
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-2">
                              <div class="quick-links">
                                  <div class="wid-title">Our Services</div>
                                  
                                  <ul>
                                      <li><a href="#">Health Informations</a></li>
                                      <li><a href="{% url 'checkdisease'%}" target="_blank" >Checking Symptom</a></li>
                                      <li><a href="#">Giving Consultation</a></li>
                                      <li><a href="#">Care Services</a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div class="subscribe">
                                  <div class="wid-title">Subscribe for OFFERS & UPDATES</div>
                                  <p>
                                      Subscribe! then we'll send you notification.
                                  </p>
                                      <a href="{% url 'subscriber'%}"><button type="submit" class="btn btn-default">Subscribe Now</button></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="footer-text">
                  <div class="container">
                      <p>Copyright 2021. Fayyaan Faaya Medical Consultation and Subscription System. ALL RIGHT RESERVED.</p>
                  </div>
              </div>
          </div><!-- Footer -->
      </div> <!-- wrapper -->


<!--
<script type="text/javascript">
 function preventBack(){
   window.history.forward();
 }
 setTimeout("preventBack()",0);
 window.onunload = function () {null};

 window.onbeforeunload = function (){
   return "You can't go back page until you login!";
 };
</script>
-->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'health/js/library.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'health/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'health/js/owl.carousel.js' %}"></script>
    <script src="{% static 'health/js/ui.js' %}"></script>
    <script src="{% static 'health/js/jquery.raty.js' %}"></script>
    <script src="{% static 'health/js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'health/jstatic s/jquery.selectbox-0.2.js' %}"></script>
    <script src="{% static 'health/js/theme-script.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

  </body>
</html>
