{% extends 'english/base/base.html'%}
{% load static %}
{% block body %}


          <div id="content"> <!-- Content -->
              <div class="page-title">
                  <div class="container">
                      <div class="page-title-inner">
                          <h3>Health Information</h3>
                          <div class="breadcumb"> <a href="{% url 'index'%}"> Fayyaan Faaya </a><span> / </span><span>Required Information about cancer</span></div>
                          <div class="clearfix"></div>
                      </div>
                  </div>
              </div>
              <div class="container">
                  <div class="blog">
                      <div class="row">
                          <div class="col-md-8 blog-content">
                              <div class="row">
                                  <div class="col-md-12 blog-block" style="color: black; font-size: 16px; font-family: 'Times New Roman', Times, serif;">
                                      
                                          <h3 class="blog-post-title">What Do You Want to Know About Cancer?</h3>
                                          <b><a href="#">Types of cancer  |  </a>       <a href="#">Growth of cancer | </a>      <a href="#">Treatement of cancer</a></b><hr/>
                                          <!--
                                          <div class="blog-image">
                                              <a href=""><img src=" {%static 'health/images/disease/cancer.png' %}" alt=""></a>
                                          </div>
                                          -->
                                          
                                          <h3 class="blog-post-title"><a href="">Overview</a></h3>
                                          <div class="blog-meta">Overview about cancer<span>|</span><a href="">Growth of cancer</a></div>
                                          <p>
                                            Cancer is an umbrella term for a large group of diseases caused when abnormal cells divide rapidly, and spread to other tissue and organs. Cancer is one of the leading causes of death in the world.
                                          </p>
                                         
 
                                          <h3 class="blog-post-title"><a href="">Growth of Cancer</a></h3>
                                          <div class="blog-meta">Cancer Growth <span>|</span><a href="#">Types of cancer</a></div>
                                            <p>
                                               In a healthy body, the trillions of cells it’s made of grow and divide, as the body needs them to function daily. 
                                               Healthy cells have a specific life cycle, reproducing and dying off in a way that is determined by the type of cell. 
                                               New cells take the place of old or damaged cells as they die. Cancer disrupts this process and leads to abnormal growth in cells. 
                                               It’s caused by changes or mutations in DNA.
                                            </p>   
                                            <p> DNA exists in the individual genes of every cell. It has instructions that tell the cell what functions to perform and how to grow and divide. 
                                                Mutations occur frequently in DNA, but usually cells correct these mistakes. 
                                                When a mistake is not corrected, a cell can become cancerous. 
                                            </p>

                                             <p> Mutations can cause cells that should be replaced to survive instead of die, and new cells to form when they’re not needed. 
                                                 These extra cells can divide uncontrollably, causing growths called tumors to form. 
                                                 Tumors can cause a variety of health problems, depending on where they grow in the body.
                                            </p>   
                                            <p> But not all tumors are cancerous. Benign tumors are noncancerous and do not spread to nearby tissues. 
                                                Sometimes, they can grow large and cause problems when they press against neighboring organs and tissue. 
                                                Malignant tumors are cancerous and can invade other parts of the body.
                                            </p>    
                                            <p> Some cancer cells can also migrate through the bloodstream or lymphatic system to distant areas of the body. 
                                                This process is called metastasis. Cancers that have metastasized are considered more advanced than those that have not.
                                                 Metastatic cancers tend to be harder to treat and more fatal.  
                                            </p>

                                            <h3 class="blog-post-title"><a href="">Types of Cancer</a></h3>
                                            <div class="blog-meta">Types of Cancer <span>|</span><a href="#">Risk Factors and Treatement</a></div>
                                            <p>
                                                Cancers are named for the area in which they begin and the type of cell they are made of, even if they spread to other parts of the body. 
                                                For example, a cancer that begins in the lungs and spreads to the liver is still called lung cancer. 
                                                There are also several clinical terms used for certain general types of cancer:
                                                <ul> 
                                                    <li>Carcinoma is a cancer that starts in the skin or the tissues that line other organs.</li><br>
                                                    <li>Sarcoma is a cancer of connective tissues such as bones, muscles, cartilage, and blood vessels.</li><br>
                                                    <li>Leukemia is a cancer of bone marrow, which creates blood cells.</li><br>
                                                    <li>Certain viruses, such as human papilloma virus (HPV)</li><br>
                                                    <li>Lymphoma and myeloma are cancers of the immune system.</li><br>
                                                </ul>
                                            </p>   
                                            <h3 class="blog-post-title"><a href="">Risk factors and Treatement</a></h3>
                                            <div class="blog-meta">Risk factors <span>|</span><a href="#">Treatement</a></div>
                                            <p>
                                                The direct cause of cancer is changes (or mutations) to the DNA in your cells. Genetic mutations can be inherited. 
                                                They can also occur after birth as a result of environmental forces. Some of these forces include: <ul> 
                                                    
                                                    <li>Exposure to cancer-causing chemicals, called carcinogens</li><br>
                                                    <li>Exposure to radiation and unprotected exposure to the sun</li><br>
                                                    <li>Certain viruses, such as human papilloma virus (HPV)</li><br>
                                                    <li>Smoking and lifestyle choices, such as type of diet and level of physical activity</li><br>
                                                    
                                                </ul>
                                            </p>   
                                            <p>
                                                Cancer risk tends to increase with age. Some existing health conditions that cause inflammation may also increase your risk of cancer. 
                                                An example is ulcerative colitis, a chronic inflammatory bowel disease.

                                                Knowing the factors that contribute to cancer can help you live a lifestyle that decreases your cancer risks. 
                                                According to experts, these are the seven best ways to prevent cancer:   
                                                <ol>
                                                    
                                                    <li>Stop using tobacco and avoid secondhand smoke.</li>
                                                    <li>Eat a healthy, balanced diet.</li><br>
                                                       <ul>
                                                           <li>Limit your intake of processed meats.</li><br>
                                                           <li>Consider adopting a “Mediterranean diet” that focuses mainly on plant-based foods, 
                                                               lean proteins, and healthy fats.</li><br>
                                                            <li>Avoid alcohol, or drink in moderation.
                                                                 Moderate drinking is defined as one drink a day for women of all ages and men older than 65, 
                                                                 and up to two drinks a day for men 65 years of age and younger.</li><br>
                                                        </ul>
                                                    <li>Keep a healthy weight and stay active by getting at least 30 minutes of physical activity every day.</li><br>
                                                    <li>Stay protected from the sun.</li><br>
                                                        <ul>
                                                            <li>Cover up with clothing, sunglasses, and a hat, and apply sunscreen frequently.</li><br>
                                                            <li>Avoid the sun between 10 a.m. and 4 p.m. This is when the sun’s rays are at their strongest.</li><br>
                                                            <li>Stay in the shade as much as possible when you’re outside.</li><br>
                                                            <li>Avoid tanning beds and sunlight, which can damage your skin just as much as the sun.</li><br>
                                                        </ul>
                                                    <li>Get vaccinated against viral infections that can lead to cancer, such as hepatitis B and HPV.</li><br>
                                                    <li>Don’t engage in risky behaviors. Practice safe sex and don’t share needles when using drugs or prescription medications. 
                                                        Only get tattoos at licensed parlors.</li><br>
                                                    <li>See your doctor regularly so they can screen you for various types of cancer. This increases your chances of catching any possible cancers as early as possible.</li><br>
                                                    
                                                </ol> 
                                            </p>    
                                  </div>
                              </div>
                          </div>

                        <!--
                          <div class="col-md-4 sidebar">
                              <div class="sidebar-inner">
                                  <div class="side-recent">
                                      <h4>Related Topics</h4>
                                      <div class="side-recent-ct">
                                          <div class="row">
                                              <div class="col-md-4">
                                                  <a href=""><img src="{% static 'images/rec-blog-1.jpg' %}" alt=""></a>
                                              </div>
                                              <div class="col-md-8">
                                                  <h5><a href="">Lorem ipsum dolor sit amsdf</a></h5>
                                                  <div class="meta"><a href="">23 Comments</a> April 11, 2014</div>
												  <p>Morbi ultricies porttitor varius. In hac habitasse platea de...</p>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="side-recent-ct">
                                          <div class="row">
                                              <div class="col-md-4">
                                                  <a href=""><img src=" {% static 'images/rec-blog-2.jpg' %}" alt=""></a>
                                              </div>
                                              <div class="col-md-8">
                                                  <h5><a href="">Lorem ipsum dolor sit amsdf</a></h5>
                                                  <div class="meta"><a href="">23 Comments</a> April 11, 2014</div>
												  <p>Morbi ultricies porttitor varius. In hac habitasse platea de...</p>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="side-recent-ct">
                                          <div class="row">
                                              <div class="col-md-4">
                                                  <a href=""><img src="{% static 'images/rec-blog-3.jpg' %}" alt=""></a>
                                              </div>
                                              <div class="col-md-8">
                                                  <h5><a href="">Lorem ipsum dolor sit amsdf</a></h5>
                                                  <div class="meta"><a href="">23 Comments</a> April 11, 2014</div>
												  <p>Morbi ultricies porttitor varius. In hac habitasse platea de...</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  
                              </div>
                          </div>

                          -->
                      </div>
                  </div>
              </div>
          </div> <!-- Content -->
          
{% endblock %}